.progress {
  .progress-bar {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    border-radius: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(118 255 156 / var(--tw-bg-opacity));
    box-shadow: rgba(0, 0, 0, 0.18) 2px 4px 4px;

    &::after {
      content: "";
      position: absolute;
      height: 24px;
      border-radius: 16px;
      top: 0px;
      left: 0px;
      overflow: hidden;
      background-image: linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0.2) 75%,
        transparent 75%,
        transparent
      );
      width: 100%;
      background-size: 30px 30px;
      animation: 1.2s linear 0.5s infinite normal none running load;
    }
  }
}
